.contactpage {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 90vh;
    padding-left: 45px;
    background: $yellow;
}

.photo img {
    max-height: 615px;
    opacity: 0.8;
}

article {
    padding: 10px 40px;
    width: 60%;
    font-family: $mainfont;
    color: $red;
    font-size: 1.2em;

    hr {
        border-color: $red;
        box-shadow: 0 5px 5px $green;
    }
}

.split {
    display: flex;
    flex-direction: column;
}

.contacts {
    padding: 10px 40px;
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 1em;
    }
 

    h2, li {
        box-shadow: inset 0 0 0 0 $green;
        color: $red;
        list-style: none;
        margin: 0 -.35rem;
        padding: 0 .35rem;
        transition: color .4s ease-in-out, box-shadow .3s ease-in-out;

        &:hover {
            box-shadow: inset 260px 0 0 0 $green;
            color: rgb(73, 72, 72);
        }
    }
}

i {
    font-size: 1em;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(73, 72, 72);
}

input {
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient($yellow, $green);
    margin-right: 5px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px gray;
    color: $red;
    border: 1px solid $brown;
    font-family: $font;
    font-size: 1em;
    cursor: auto;
    transition: 0.5s;

    &::placeholder {
        color: $red;
    }
}

input:hover {
    background: $green;
}

.social {
    color: $red;
    font-size: 1em;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 700;

    a {
        color: $red;
        font-size: 2em;
        padding-right: 25px;
    }
}

@media screen and (max-width: 768px) {
    .contactpage {
        flex-direction: column;
        padding-left: 10px;
    }

    article {
        width: 100%;
    }

    .contacts {
        padding: 10px 15px;
    }
}

@media screen and (max-width: 320px) {
    input {
        font-size: 0.8em;
    }

    .photo img {
        height: 410px;
    }
}
