.filter-options {
    // width: 1200px;
    display: flex;
    padding-top: 95px ;
    font-weight: 700;
    font-size: 1em;
    color: $red;
    justify-content: center;

    label {
        padding: 3px;
    }

    a {
        color: $red;
        text-decoration: none;

        background: $green;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 5px 5px $brown;
        font-family: $mainfont;
        transition: 0.3s;

            &:hover{
                font-size: 1.1em;
                opacity: 0.8;
                cursor: pointer;
            }
    }

    select {
        margin: 0px 10px;
        padding-top: 5px;
        font-family: $font;
        font-size: 0.8em;
        color: $red;
        border: 1px solid $brown;
        min-width: 120px;
    }

    @media (max-width:850px) {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 0;
        font-size: 0.7em;
    }
    .filter-options {
        width: 320px;
    }

    label {
        padding: 10px;
    }

    a {
        width: 150px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
  
}