.filter-options {
    padding: 45px 160px;
    font-weight: 700;
    font-size: 1em;
    color: $red;
    width: 100%;
    align-items: center;
    justify-content: center;

    label {
        padding: 3px;
  
    }

    select {
        margin: 0px 10px;
        padding-top: 5px;
        font-family: $font;
        font-size: 0.8em;
        color: $red;
        border: 1px solid $brown;
        min-width: 120px;
    }

    @media (max-width:850px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.7em;
    }
    .filter-options {
        width: 320px;
    }
}