nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient($brown, $yellow, $brown);
    box-shadow: 0 5px 5px $green;
    border-radius: 5px;
    font-size: 1.2em;
    width: 100%; 
    
    .title {
        font-size: 1.5em;
        margin: 1rem;
        font-weight: bold;
        text-decoration: none;
        color: rgb(73, 72, 72);
        position: sticky;
        top: 0;
        font-family: $mainfont;
        color: $red;
        text-shadow: 3px 5px $green;
        padding-left: 35px;

        #icon {
            font-size: 1.3em; // Fixed the comma typo here
            transition: 0.5s;

            &:hover {
                color: $brown;
                transform: translateY(10px); // Fixed the typo in translateY
                cursor: pointer;
            }
        }
    }
 
    ul {
        display: flex;
    }
    
    ul.open {
        display: flex;
    }

    ul li {
        list-style: none;
        padding-right: 45px;
    }

    ul li a {
        display: block;
        text-decoration: none;
        color: $red;
        padding: 0.5rem;
        margin: 0 0.5rem;
        border-radius: 0.5rem;
        text-shadow: 5px 5px $green;
    }

    ul li a:not(.active):hover {
        background: $green;
    }

    .menu {
        display: none;
        position: absolute;
        width: 100%;
        top: 0.75rem;
        right: 0.5rem;
        flex-direction: column;
        justify-content: space-between;
        width: 2.25rem;
        height: 2rem;

        span {
            height: 0.3rem;
            width: 100%;
            background: white;
            border-radius: 0.2rem;    
            margin-bottom: 0.5rem; // Added margin to prevent overlapping
        }
    }

    @media (max-width: 768px) {
        .menu {
            display: flex;
            top: 3rem;
        }

        ul {
            display: none;
            flex-direction: column;
            width: 100%;
            margin-bottom: 0.25rem;

            li {
                width: 100%;
                text-align: center;

                a {
                    margin: 0.25rem 0.5rem;
                }
            }
        }
    }

    @media (max-width: 320px) {
        .menu {
            top: 3.5rem; // Adjusted the top position
        }
    } 
}
