@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

$orange: #0fa5af;
$hoverOrange: #0fa4af84;
$grey: #4c4c4c;
$font: 'Oswald';
$dark-grey: #464646;
$blue: #0fa5af;